@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  cursor: none !important;
}

/* Disable cursor for links and buttons */
a, button, input[type="submit"], input[type="button"], input[type="reset"] {
  cursor: none !important;
}

/* Hide cursor when hovering over iframes or other embedded content */
iframe {
  pointer-events: none;
}

/* For WebKit browsers */
::-webkit-cursor {
  display: none;
}